* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::selection {
	background: #9ade33;
	color: #121212;
}

.button::selection,
.logo img::selection {
	background: transparent;
	color: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
}

svg {
	width: 84px;
	height: 84px;
}

.round {
	border-radius: 1000px;
	padding: 8px;
	display: inline-block;
}

.button {
	border: 2px solid #1c676c;
	text-decoration: none;
	color: #1c676c;
	text-transform: uppercase;
	font-size: 18px;
	padding: 16px 28px;
	font-weight: 500;
	transition: .4s ease-in;
}

.button:hover, .button:focus, .button:active {
	background: #1c676c;
	color: #fff;
}

.borderHighlight {
	border-left: 2px solid #9ade33; 
	padding-left: 16px;
}

section .wrapper {
	display: flex;
}

section.align-end .wrapper {
	justify-content: flex-end;
}


.wrapper {
	padding: 160px 8px;
	width: 1200px;
	margin: auto;
}



h1, h2, h3, h4 {
	font-weight: 300;
	margin-bottom: 16px;
	font-family: 'Rajdhani'
}

h1 strong, h2 strong, h3 strong, h4 strong {
	font-weight: 500;
}

h1 {
	color: #1c676c;
	font-size: 60px;
	margin-bottom: 32px;
}

h1 strong {
	font-weight: 500;
}

h3 {
	color: #9ade33;
	font-size: 42px;
	font-weight: 500;
}

p {
	margin-bottom: 16px;
	font-size: 18px;
	line-height: 1.5;
}





.icons-wrapper {
	display: flex;
	text-align: center;
	font-family: 'Rajdhani';
	font-weight: 500;
	margin-bottom: 20px;
	margin-top: 30px;
}


.icons-wrapper .icon {
	flex-basis: 25%;
	margin-right: 32px;
	opacity: 0;
	transition: .3s ease-in;
}

.icons-wrapper.animate .icon {
	opacity: 1; 
}



.icons-wrapper path {
	stroke-dasharray: 210px 210px;
	stroke-dashoffset: -210px;
	transition: 0.2s ease-in;
	will-change: stroke-dashoffset;
}

.icons-wrapper circle {
	stroke-dasharray: 270px 270px;
	stroke-dashoffset: -270px;
	will-change: stroke-dashoffset;
}

.animate circle, .animate path {
	animation: dashoffset 1s forwards ease-in 0s;
}

.icons-wrapper .-long-path circle, 
.icons-wrapper .-long-path path {
	stroke-dasharray: 300px 300px;
	stroke-dashoffset: -300px;
	animation-duration: 1.2s;
}


@keyframes dashoffset{
	to {
		stroke-dashoffset: 0;
	}
}


/************************************
*			    Navbar 				*
*************************************/
.navbar {
	background: white;
	box-shadow: 0 5px 20px rgba(0,0,0,.1);
	height: 70px;
	line-height: 70px;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.navbar nav {
	display: flex;
	justify-content: space-between;
	
}

.navbar .logo {
	padding: 14px;
}

.navbar .menu {
	display: flex;
	list-style: none;
	position: relative;
}

	.navbar .menu-animate {
		content: '';
		opacity: 0;
		height: 6px;		
		position: absolute;
		background: #9ade33;
		transform: translateX(-120px);
		transition: 0.5s cubic-bezier(0, 0, 0.2, 1);
	} 


.navbar .menu a {
	text-decoration: none;
	padding: 0 30px;
	color: #333;
	margin-top: -6px;
	display: block;
	transition: color 0.3s cubic-bezier(0, 0, 0.2, 1);
}
	.navbar .menu a:hover {
		color: #9ade33;
	}

	.navbar .menu li.active a {
		color:  #9ade33;
	}

/***************************
****	Mobile Menu		****
****************************/
.mobile-menu-button {
	text-indent: -9999px;	
}

.mobile-menu-icon {
	display: none;
	border-radius: 100px;
	background: #9ade33;
	width: 30px;
	height: 4px;
	position: relative;
	margin-top: 30px;
	margin: 32px 16px;
}

.mobile-menu-icon::before,
.mobile-menu-icon::after
{
	content: '';
	background: inherit;
	width: inherit;
	height: inherit;
	border-radius: inherit;
	position: absolute;
	left: 0;	
}

	.mobile-menu-icon::before {	top: -8px;}
	.mobile-menu-icon::after  { top: 8px; }


h2 {
	font-size: 55px;
}



.content {
	max-width: 480px;
}

.dark  {
	background: #121212;
	color: #eee;
}

.dark h2 {
	color: #9ade33;
	line-height: 1;
}



#banner {
	background-image: url(../img/banner.jpg);
	background-repeat: no-repeat;
	height: 90vh;
}


#design {
	background-image: url(../img/design.jpg);
	background-repeat: no-repeat;
}

#motores {
	background-image: url(../img/motores.jpg);
	background-repeat: no-repeat;
}


#geradores {
	background-image: url(../img/geradores.jpg);
	background-repeat: no-repeat;
}

#baterias {
	background-image: url(../img/baterias.jpg);
	background-repeat: no-repeat;
	background-color: #e4e4e4;
}


#app {
	background: #121212 url(../img/app.svg) no-repeat center;
	padding-top: 200px;
	padding-bottom: 200px;
}


section {
	background-size: cover;
}

@media (max-width: 1200px) {
	.wrapper {
		width: 100%;
		padding: 130px 32px;
	}
	
	
	section { background-size: 150%; }
	#banner { height: 75vh; }
	
	#banner,
	#motores,
	#baterias
	{ 
		background-position-x: -30vw;
		
	}
	
	#design,
	#geradores
	{ 
		background-position-x: -5vw;
	}
}



@media (max-width: 820px) {
	.wrapper {
		width: 100%;
		padding: 90px 32px;
	}
	
	#banner {
		height: 60vh;
	}
	
	
	#banner,
	#motores,
	#baterias
	{ 
		background-position-x: -40vw;
		
	}
	
	#design,
	#geradores
	{ 
		background-position-x: -5vw;
	}
}


@media (max-width: 960px) {
	
}

@media (max-width: 760px) {
	
	#banner {
		height: auto;
	}
	
	
	.mobile-menu-icon {
		display: block;
	}
	
	.navbar  nav {
		/*flex-direction: row-reverse;*/
	}
	
	.navbar .menu {
		display: none;
		text-align: right;
		width: 100%;
		box-shadow: 0 5px 20px rgba(0,0,0,.1);
		background: #fff;
		display: block;
		position: absolute;
		top: 70px;
		right: 0;
		opacity: 0;
		clip-path: circle(0% at 95% -50px);
		transition: 0.4s cubic-bezier(0, 0, 0.2, 1);
	}
	
	.navbar .menu li a {
		line-height: 3
	}

	
	.navbar .menu.mobile-menu.active {
		opacity: 1;
		clip-path: circle(150% at 95% -50px);
	}
}



@media (max-width: 500px) {
	h1 {
		font-size: 42px;
		margin-bottom: 8px;
	}
	
	h2 {
		font-size: 42px;
	}
	
	h3 {
		font-size: 36px;
	}
	
	section {
		background-size: 150%;
		padding-top: 120px;
	}
	
	.wrapper {
		padding: 40px 16px;
	}
}


@media (max-width: 480px) {
	h2 {
		
	}
	
}


@media (max-width: 400px) {
	.icons-wrapper {
		display: flex;
		flex-direction: column;
	}
	
	.icons-wrapper .icon {
		display: flex;
		margin-bottom: 20px;
	}
	
	.icons-wrapper .icon figcaption {
		text-align: left;
		margin: auto 0 auto 12px;
	}
}